
.bodyP{
    height: 100vh;
    font-family: 'Numans', sans-serif;
    margin-top: 75px;
    }

    
    .container{
    height: 100%;
    align-content: center;
    }

    .login_btn{
        color: white;
        font-size: large;
        font-weight: bold;
        background-color: #5ed1d1;
        width: 100%;
        }
        
        .login_btn:hover{
        color: black;
        background-color: wheat;
        }
    
.boarderpadding {
    padding:  10px ;
    margin: 0 auto;

}
.main{
    margin: 20px auto 0 auto;
}
.rating_div{
    background-color: #13bcbc;

}
.cardPadding {
    padding: 20px;
}
.grid-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 20px;
    column-gap: 20px; /* Adjust gap as needed */
    row-gap: 10px;
  }
    