
.bodyD{
    height: 100vh;
    font-family: 'Numans', sans-serif;
    margin-top: 75px;
    }

    
    .container{
    height: 100%;
    align-content: center;
    }

    .login_btn{
        color: white;
        font-size: large;
        font-weight: bold;
        background-color: #5ed1d1;
        width: 100%;
        }
        
        .login_btn:hover{
        color: black;
        background-color: wheat;
        }
    
.boarderpadding {
    padding:  10px 10px 10px 10px ;
    margin: 0 auto;

}
.main{
    margin: 20px auto 0 auto;
}
.rating_div{
    background-color: #13bcbc;

}
.sortIcon {
    margin-left: 10px;

} 
.sortIcon:hover{
    color: #13bcbc;
}
 .arrowIcon:hover{
    color: #13bcbc;
 }

.card-f {
    margin-bottom: 0.5rem; /* Adjust the spacing between each card-text */
  }
  
  .card-f strong {
    color: #58c8c8;
  }

  .feedCard {
    background-color: rgb(246, 245, 245);
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgb(93, 93, 93);
}